@charset "UTF-8";

/* Breakpoints:
Tablet: 768px-992px
Desktop: +992px */

/* Tablets:  */
@media screen and (min-width: 512px) and (max-width:992px) {
    .login {
        width: 80vw;
        float: right;
        height: 70vh
    }

    .image {
        float: left;
        width: 25vw;
        height: 100%;
        margin-right: 10px;
    }

    p {
        font-size: 1em;
    }
}

/* Desktops:  */
@media screen and (min-width: 992px) {
    .login {
        width: 60vw;
        float: left;
        height: 70vh;
    }

    .image {
        float: right;
        width: 40%;
        height: 100%;
        margin-left: 10px;
    }

    p {
        font-size: 1.15em;
    }
}