@charset "UTF-8";

/* Colors Palette  */
:root {
    --rich-black: #0A302Dff;
    --red: #F62019ff;
    --oxford-blue: #060E2Cff;
    --copper: #B67425ff;
    --blue-violet: #560572ff;
    --jazzberry-jam: #B5025Eff;

    /* Gradients  */
    --gradient-top-right: linear-gradient(45deg, #F62019ff, #060E2Cff, #560572ff, #B5025Eff);
    --gradient-bottom-right: linear-gradient(135deg, #F62019ff, #060E2Cff, #560572ff, #B5025Eff);
    --gradient-top-left: linear-gradient(225deg, #F62019ff, #060E2Cff, #560572ff, #B5025Eff);
    --gradient-bottom-left: linear-gradient(315deg, #F62019ff, #060E2Cff, #560572ff, #B5025Eff);
    --background-gradient: linear-gradient(225deg, #F62019ff, #B5025Eff, #560572ff, #060E2Cff);
}

* {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body, html {
    background: var(--background-gradient);
    background-size: 500%;
    animation: gradient 9s ease alternate infinite;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.login {
    background: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Centering the div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

.image {
    display: block;
    background: var(--red) url(../imagens/spanBg.jpg);
    background-size: cover;
    height: 200px;
}

.form {
    display: block;
    padding: 10px;
}

/* Animations */
@keyframes gradient {
    0%{background-position:0% 50%}
    100%{background-position:100% 50%}
}